In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

1.	Driver & Constructor Performance<br>
	Identify dominant drivers and constructors by analyzing win ratios and podium finishes.<br>
    Assess the relationship between career longevity and success metrics (wins, podiums, points).

In [9]:
import pandas as pd

results = pd.read_csv("final_dataset/results.csv")
drivers = pd.read_csv("final_dataset/drivers.csv")
constructors = pd.read_csv("final_dataset/constructors.csv")

results = results.merge(drivers[['driverId','forename','surname']], on='driverId', how='left')
results = results.merge(constructors[['constructorId', 'name']], on='constructorId', how='left')

In [11]:
results['forename'] = results['forename'].astype('str')
results['surename'] = results['surname'].astype('str')
results['Name']  = results['forename']+" "+results['surname']

In [13]:
results.drop(columns=['forename','surname'],inplace=True)

In [14]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,positionText,positionOrder,points,laps,milliseconds,fastestLap,rank,fastestLapSpeed,status,fastestlaptime_ms,name,surename,Name
0,1,18,1,1,22,1,1,1,10.0,58,5690616,39,2,218.300,Finished,87452,mclaren,hamilton,lewis hamilton
1,2,18,2,2,3,5,2,2,8.0,58,5696094,41,3,217.586,Finished,87739,bmw sauber,heidfeld,nick heidfeld
2,3,18,3,3,7,7,3,3,6.0,58,5698779,41,5,216.719,Finished,88090,williams,rosberg,nico rosberg
3,4,18,4,4,5,11,4,4,5.0,58,5707797,58,7,215.464,Finished,88603,renault,alonso,fernando alonso
4,5,18,5,1,23,3,5,5,4.0,58,5708630,43,1,218.385,Finished,87418,mclaren,kovalainen,heikki kovalainen

In [15]:
driver_stats = {}
for index, row in results.iterrows():
    driver = row['Name']
    if driver not in driver_stats.keys():
        driver_stats[driver] = {'wins': 0, 'podiums': 0, 'total': 0}

    if row['positionOrder'] == 1:
        driver_stats[driver]['wins'] += 1  
    if row['positionOrder'] <= 3:
        driver_stats[driver]['podiums'] += 1  
    
    driver_stats[driver]['total'] +=1


driver_performance = pd.DataFrame.from_dict(driver_stats, orient='index').reset_index()
driver_performance.rename(columns={'index': 'surname'}, inplace=True)
driver_performance.head()

             surname  wins  podiums  total
0     lewis hamilton   105      202    356
1      nick heidfeld     0       13    184
2       nico rosberg    23       57    206
3    fernando alonso    32      106    404
4  heikki kovalainen     1        4    112

In [ ]:
driver_performance['Win_ratio'] = driver_performance['wins']/driver_performance['total']
driver_performance['podiums_ratio'] = driver_performance['podiums']/driver_performance['total']
driver_performance = driver_performance.sort_values(by=['Win_ratio', 'podiums_ratio'], ascending=[False, False])
print("10 Dominant ")
driver_performance.head(10)

                surname  wins  podiums  total  Win_ratio  podiums_ratio
765         lee wallard     1        1      2   0.500000       0.500000
578         juan fangio    24       35     58   0.413793       0.603448
656       bill vukovich     2        2      5   0.400000       0.400000
646      alberto ascari    13       17     36   0.361111       0.472222
372           jim clark    25       32     73   0.342466       0.438356
830      max verstappen    63      112    209   0.301435       0.535885
29   michael schumacher    91      155    308   0.295455       0.503247
0        lewis hamilton   105      202    356   0.294944       0.567416
327      jackie stewart    27       43    100   0.270000       0.430000
100        ayrton senna    41       80    162   0.253086       0.493827